@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #121516;
}

.menu-item {
    position: relative;
    padding: 15px 0;
    
    color: #292f30;
    
    list-style: none;
    font-family: Roboto, sans-serif;
    font-size: 2em;

    cursor: pointer;
    transition: .5s;
}

.menu-item::before {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);

    content: '';

    width: 25px;
    height: 25px;
    border-radius: 50%;

    background-color: #292f30;;

    transition: .5s;
}

.menu-item:hover {
    color: #fdcb6e;
    filter: drop-shadow(0 0 10px #fdcb6e)
    drop-shadow(0 0 20px #fdcb6e)
    drop-shadow(0 0 40px #fdcb6e);
}

.menu-item:hover::before {
    background-color: #fdcb6e;
    box-shadow: 0px 0 5px white;
    filter: drop-shadow(0 0 10px #fdcb6e);
}