@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url(img.jpg);
    background-position: center;
    background-size: cover;

    font-family: 'Roboto', sans-serif;
}

.form {
    width: 500px;
    padding: 100px 35px;

    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .4);

    backdrop-filter: blur(8px);
}

.form-title {
    display: block;

    font-size: 5em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, .3);;
}

.form-group {
    position: relative;
    width: 100%;
    margin-top: 35px;
}

.form-label {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 20px 10px;
    
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    
    transition: .5s;
    pointer-events: none;
}

.form-input {
    position: relative;
    width: 100%;
    padding: 20px 10px;

    background-color: transparent;
    border: none;
    outline: none;
    
    font-size: 1.2em;
    line-height: 0;
    
    color: red;
    transition: .5s;
    z-index: 10;
}

.form-group i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;

    background-color: rgba(255, 255, 255, .4);
    transition: .5s;
}

.form-input:focus ~ .form-label ,
.form-input:valid ~ .form-label,
.form-input:user-invalid ~ .form-label {
    transform: translateY(-50px);
    font-size: 1em;
}

.form-input:focus ~ i,
.form-input:valid ~ i,
.form-input:user-invalid ~ i {
    height: 63px;
    padding: 20px 10px;

    width: 100%;
    background-color: white;
}

.submit {
    width: 100%;
    height: 63px;
    border-radius: 269px;
    border: none;
    outline: nine;
    background-color: white;
    
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
}