@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&family=Roboto:wght@100;300;400&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
    font-family: Roboto;
}

.heart {
    position: relative;
    width: 140px;
    height: 200px;
    transform: rotate(45deg);
    
    background-color: #fc4200;
    border-radius: 200px 200px 0 0;
    filter: drop-shadow(0 0 10px #fc4200)
    drop-shadow(0 0 20px #fc4200);
    
    animation: beatingHeart 1s infinite;
}

.heart::before {
    content: '';
    position: absolute;
    top: 32px;
    left: -32px;
    width: 140px;
    height: 200px;
    
    background-color: #fc4200;
    transform: rotate(-90deg);
    border-radius: 200px 200px 0 0;

}

/* When the mouse is on an item */
@keyframes beatingHeart {
    from {
        transform: scale(1.5) rotate(45deg);
        filter: drop-shadow(0 0 10px #fc4200)
        drop-shadow(0 0 20px #fc4200)
        drop-shadow(0 0 25px #fc4200)
        drop-shadow(0 0 60px #fc4200);

    }
}